body {
    margin: 0;
    background: #A78BFA;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: 'timer-font';
    src: url("timer-font.ttf");
}

//h1 {
  //justify-content: center;
    //display: flex;
    //flex-direction: row;
    //width: 100%;
//}

h3 {
    font-size: 40px;
    margin: 21 0;
    margin-bottom: 21px;
    text-align: center;
}

.btn {
    background: #1B244A;
    border: 1px solid #FB7185;
    border-radius: 10%;
    padding: 5px 5px;
    color: #FB7185;
    font-family: 'timer-font';
    height: 45px;
    width: 45px;
    margin: 26px 0 0 0;
}

.btn-board {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 200px;
}

.scoreboard {
    height: 120px;
    width: 200px;
    background: black;
    border-radius: 5%;
    font-family: 'timer-font';
    color: #F59E0B;
    font-size: 90px;
    margin: auto;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
}

#new-game-btn {
    display: flex;
    margin: 40px auto;
    justify-content: center;
    padding: 10px 20px;
    font-family: inherit;
    color: black;
    background: #7C3AED;
    border: 2px solid #7C3AED;
    border-radius: 5px;
}